.row{
    display: flex;
    flex-wrap: wrap;
}
.category{
    padding: 100px 50px;
}

.category-top{
    margin-bottom: 50px;
}

.category-top p{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 14px;
}

.category-left{
    width: 20%;
}

.category-right{
    width: 80%;
}

.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}

.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
}

.category-right-content-item{
    width:  calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item h1{
    font-size:  11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color: #333333;
}
.category-right-content-item img{
    width: 100%;
}

.category-right-content-item p{
    font-size: 12px;
}

.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}

.category-right-bottom p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.category-left ul li{
    padding: 12px 0;
}

.category-left ul li > a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.category-left ul li ul li{
    padding: 10px;
}

.category-left-li ul{
    display: none;
}
.category-left-li.block ul{
    display: block;
}

.category-left ul li ul li a{
    color: #333;
    font-size: 14px;
}