*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/* -------Body------------ */
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}

header:hover{
    background: rgba(255, 255, 255, 1);
}

.sticky{
    background: rgba(255, 255, 255, 1);
}

.logo{
    flex: 1;
}

.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding-left: 20px;
}
.sub-menu ul a{
    font-weight: normal !important;
    font-size: 12px !important;
}
.menu li a{
    font-size: 12px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}


.others{
    flex: 1;
    display: flex;
}
.others > li{
    padding: 0 12px;
}

.others > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: #cccccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others > li:last-child::after{
    display: none;
}
.others > li:first-child{
    position: relative;
}
.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.others > li:first-child i{
    position:absolute;
    right: 10px;
    
}
