.row{
    display: flex;
    flex-wrap: wrap;
}
.payment{
    padding: 100px 50px;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top{
    height: 2px;
    width: 70%;
    background-color: #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.payment-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.payment-top-item i{
    color: #dddd;
}

.payment-top-payment{
    border: 1px solid #1f55b9;
}
.payment-top-payment i{
    color: #1f55b9;
}

.payment-content-left {
    width: 60%;
}

.payment-content-right {
    width: 40%;
    border-left: 2px solid #dddd;
    padding-left: 12px;
}

.payment-content-left p, label{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.payment-content-right-button{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}

.payment-content-right-button input{
    height: 30px;
    width: 200px;
    margin-right: 100xp;
    padding-left: 12px;
}

.payment-content-right-button button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
.payment-content-right-mnv{
    margin-top: 20px;
}

.payment-content-right-mnv select{
    height: 30px;
    width: 100%;
    color: rgb(12, 74, 145);
    padding-left: 12px;
}

.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}

.payment-content-right-payment button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}