.row{
    display: flex;
    flex-wrap: wrap;
}

.cart{
    padding: 100px 50px;
}

.cart{
    padding: 100px 50px;
}

.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i{
    color: #dddd;
}

.cart-top-cart{
    border: 1px solid #1f55b9;
}

.cart-top-cart i{
    color: #1f55b9;
}

.cart-content-left{
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table{
    width: 100%;
    text-align: center;
}

.cart-content-left table th{
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left table p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.cart-content-left table input{
    width: 30px;
}

.cart-content-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.cart-content-left td{
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.cart-content-left td:first-child img{
    width: 120px;
}

.cart-content-left td:nth-child(2){
    max-width: 130px;
}

.cart-content-left td:nth-child(3) img{
    max-width: 30px;
}

.cart-content-right{
    flex: 1;
    padding-left: 17px;
    border-left: 2px solid #dddddd;
}

.cart-content-right table{
    width: 100%;
}

.cart-content-right table th{
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-right table td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 6px 0;
}

.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}

.cart-content-right tr td:last-child {
    text-align: right;
}

.cart-content-right-text{
    margin: 20px 0;
    text-align: center;
}

.cart-content-right-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}

.cart-content-right-button{
    text-align: center;
    align-items: center;
}

.cart-content-right-button button{
    padding: 0 10px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child{
    background-color: #fff;
    border: 1px solid black;
    margin-left: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #ddd;
}

.cart-content-right-button button:last-child{
    background-color: black;
    color: #fff;
    border: none;
}

.cart-content-right-button button:last-child:hover{
    background-color: #ddd;
    color: black;
}

.cart-content-right-dang-nhap p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

.cart-content-right-dang-nhap a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
}
