*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #ddd;
    text-align: center;
    align-items: center;
}

.admin-content{
    padding-top: 50px;
    display: flex;
}

.admin-content-left{
    background-color: #dddddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 20px;
}

.admin-content-left > ul > li > a{
    font-weight: bold;
    font-size: 16px;
}
.admin-content-left  ul  li{
    margin: 6px 0;
} 

.admin-content-left ul{
    margin-left: 20px;
}